# Sunxi
CONFIG_ARCH_SUNXI=y

# Enable Modules
CONFIG_MODULES=y

# ALlow Access to the kernel config through /proc/config.gz
CONFIG_IKCONFIG_PROC=y
CONFIG_IKCONFIG=y

# Get Networking to Work
CONFIG_NET=y
CONFIG_RTL8723BS=y
CONFIG_STAGING=y
CONFIG_WIRELESS=y

# Get Display to work
CONFIG_DRM_ANALOGIX_ANX6345=y

# For Hardware acceleration
CONFIG_DRM_LIMA=y

# Battery management
CONFIG_BATTERY_AXP20X=y

# EFI
CONFIG_EFI=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_EFI_STUB=y
CONFIG_DMI=y
CONFIG_EFI_ESRT=y
CONFIG_EFI_PARAMS_FROM_FDT=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_EFI_GENERIC_STUB=y

# SWAP
CONFIG_SWAP=y

# NixOS-Specific
CONFIG_DEVTMPFS=y
CONFIG_CGROUPS=y
CONFIG_INOTIFY_USER=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_EPOLL=y
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_FHANDLE=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA256=y
CONFIG_DMIID=y
CONFIG_AUTOFS_FS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_SECCOMP=y
CONFIG_TMPFS=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BINFMT_ELF=y
# Why UNIX?
CONFIG_UNIX=y
