# Sunxi
CONFIG_ARCH_SUNXI=y

# Enable Modules
CONFIG_MODULES=y

# Expert mode
CONFIG_EXPERT=y

# ALlow Access to the kernel config through /proc/config.gz
CONFIG_IKCONFIG_PROC=y
CONFIG_IKCONFIG=y

# Get Networking to Work
CONFIG_NET=y
CONFIG_RTL8723BS=y
CONFIG_STAGING=y
CONFIG_WIRELESS=y

# Get Display to work
CONFIG_DRM=y
CONFIG_DRM_ANALOGIX_ANX6345=y
CONFIG_DRM_SUN4I=y
CONFIG_DRM_SUN8I_MIXER=y
CONFIG_SUN8I_TCON_TOP=y

# For Hardware acceleration
CONFIG_DRM_LIMA=y

# Battery management
CONFIG_BATTERY_AXP20X=y

# EFI
CONFIG_EFI=y
CONFIG_EFI_VARS_PSTORE=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_EFI_STUB=y
CONFIG_DMI=y
CONFIG_EFI_ESRT=y
CONFIG_EFI_PARAMS_FROM_FDT=y
CONFIG_EFI_RUNTIME_WRAPPERS=y
CONFIG_EFI_GENERIC_STUB=y

# SWAP
CONFIG_SWAP=y

# PREEMPT
CONFIG_PREEMPT=y

### TO BE SORTED ###
# For Usev
CONFIG_DEVTMPFS=y

# systemd, intended for container but systemd abuses it for cursed things
CONFIG_CGROUPS=y

# for watching directories? Unsure if needed
CONFIG_INOTIFY_USER=y

# Alternative signal handling
CONFIG_SIGNALFD=y

# timerfd more modern timer API
CONFIG_TIMERFD=y

# Better polling API
CONFIG_EPOLL=y

# sysfs
CONFIG_SYSFS=y

# self-explanatory
CONFIG_PROC_FS=y

# Fhandle is some obscure mix between fds and filenames
CONFIG_FHANDLE=y

# "The three crypto things are hashing & auth, dunno why it's there. Might be needed by openssl or smth."
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_SHA256=y

# Dmiid is firmware info like the motherboard model etc
CONFIG_DMIID=y

# "Autofs is an alternative for fstab for when you have a lot of networked filesystems"
CONFIG_AUTOFS_FS=y

# "Tmpfs acl is acl (some extended perms stuff) for tmpfs. No idea what for."
CONFIG_TMPFS_POSIX_ACL=y

# "Tmpfs Xattr is a dep for the above plus some extra weird stuff"
CONFIG_TMPFS_XATTR=y

# "Seccomp is an API for privileged programs to granularly drop privs."
CONFIG_SECCOMP=y

# tmpfs
CONFIG_TMPFS=y

# "Blk dev initrd is some compressed initrd stuff, it's mostly internal and selected by some other options... you don't have set."
CONFIG_BLK_DEV_INITRD=y

# binfmt
CONFIG_BINFMT_ELF=y
# Needed for systemd to provide unix sockets
CONFIG_UNIX=y

# Experiments
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_FRAMEBUFFER_CONSOLE_ROTATION=y
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=y

## TTY
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_HW_CONSOLE=y
CONFIG_VT_HW_CONSOLE_BINDING=y

# Multiuser
CONFIG_MULTIUSER=y
