[submodule "vendor/impermanence"]
	path = vendor/impermanence
	url = git@github.com:NiXium-org/impermanence.git
[submodule "vendor/agenix"]
	path = vendor/agenix
	url = git@github.com:NiXium-org/agenix.git
[submodule "vendor/ragenix"]
	path = vendor/ragenix
	url = git@github.com:NiXium-org/ragenix.git
[submodule "vendor/jovian-nixos"]
	path = vendor/jovian-nixos
	url = https://github.com/appsforartists/Jovian-NixOS
