[submodule "vendor/impermanence"]
	path = vendor/impermanence
	url = git@github.com:NiXium-org/impermanence.git
[submodule "vendor/agenix"]
	path = vendor/agenix
	url = git@github.com:NiXium-org/agenix.git
[submodule "vendor/ragenix"]
	path = vendor/ragenix
	url = git@github.com:NiXium-org/ragenix.git
[submodule "robotnix"]
	path = vendor/robotnix
	url = git@github.com:nix-community/robotnix.git
